html{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-size: auto;
    color: #47484d;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100%;

}

header{
    background-color: #496741;
}

body > header > div > a > img{
    float: left;
    margin: 1%;
    width: 15%;
}

.top-text{
    font-size: 5vw;
    color:whitesmoke;
    -webkit-text-stroke: .25vw whitesmoke;
    text-shadow: 1vw 1vw .5vw slategrey;
    text-align: center;
    padding: 2%;
}

h2{
    color: whitesmoke;
    font-size: 4vw;
    -webkit-text-stroke: .15vw whitesmoke;
    text-align: center;
    background-color: #496741;
    padding: 2%;
    margin-bottom: 2.5%;
}

#name{
    margin-bottom: 2.5%;
}

.content{
    flex: 1 0 auto;
}

main{
    display: flex;
    flex-direction: column;
}

#dropdownMenuButton{
    font-size: 2.5vw;
    width: 100%;
    margin-bottom: 8%;
}

#form > div.dropdown.show > div.dropdown-menu.show{
    border: none;
    width: 100%;
}

#form > div.dropdown.show > div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#one{
    width: 33%;
    opacity: .75;
}

#two{
    width: 33%;
    opacity: .75;
}

#boton{
    margin-top: 6%;
    display: flex;
    justify-content: center;
}

#submit{
    width: 50%;
    margin: 5% 0;
}

th{
    color: whitesmoke;
    font-weight: bold;
    background-color: slategray;
}

footer{
    flex-shrink: 0;
    font-size: 2vw;
    color: whitesmoke;
    background-color: #496741;
}

footer > p{
    text-align: center;
}

footer a{
    text-decoration: none;
    cursor: pointer;
}