html{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-size: auto;
    color: #47484d;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content{
    flex: 1 0 auto;
}

header{
    background-color: #959597;
}

#logo{
    float: left;
    margin: 1%;
    width: 15%;
}

.top-text{
    color:whitesmoke;
    font-size: 4vw;
    text-shadow: 1vw 1vw .5vw slategrey;
    font-weight: bold;
    text-align: center;
    padding: 2%;
}

h2{
    color: whitesmoke;
    font-size: 4vw;
    padding: 2%;
    font-weight: bold;
    text-align: center;
    background-color: #959597;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2vw;
}

#name{
    border: none;
    padding: .75%;
    font-size: 1.5vw;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 2.5%;
    background-color: rgb(221, 221, 218);
}

#form{
    font-size: 2vw;
    margin: 2.5%;
    width: 75%;
}

.form{
    margin: 0 5%;
    font-size: 2vw;
    width: 90%;
}

form > p{
    margin-bottom: 2.5%;
    text-align: center;
}

.yes-no{
    display: flex;
    justify-content: center;
}

#one{
    font-size: 2vw;
    font-weight: bold;
    width: 20%;
    background-color: #54b67f;
    opacity: .5;
    border-radius: 2vw;
    border: none;
}

#two{
    font-size: 2vw;
    font-weight: bold;
    width: 20%;
    background-color: #54b67f;
    opacity: .5;
    border-radius: 2vw;
    border: none;
}

#one:hover{
    opacity: 1;
    color:white;
}

#two:hover{
    opacity: 1;
    color:white;
}

#text-area{
    border-radius: 2vw;
    margin-top: 2.5%;
    border: none;
    padding: 1%;
    font-size: 1.5vw;
    width: 100%;
    background-color: rgb(221, 221, 218);
}


.submit{
    margin-top: 2.5%;
    display: flex;
    justify-content: center;
}

#submit{
    background-color: #54b67f;
    opacity: .5;
    padding: .75%;
    font-size: 2vw;
    font-weight: bold;
    width: 50%;
    border: none;
    border-radius: 2vw;
}

#submit:hover{
    opacity: 1;
    color:white;
}

section{
    display: flex;
    justify-content: center;
}

#tabla{
    font-size: 2vw;
    width: 65%;
}

table, th, td{
    border: .25vw solid gray;
    padding: 1.5%;
}

#th-names{
    width: 33%;
}

th{
    text-align: left;
    font-weight: bold;
    background-color: rgb(199, 220, 226);
}

td{
    background-color: snow;
}

footer{
    flex-shrink: 0;
    font-size: 2vw;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: #959597;
}

footer a{
    text-decoration: none;
}