html{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-size: auto;
    color: #47484d;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

#logo{
    position: absolute;
    width: 10%;
    height: 10%;
    float: left;
}

#logo > a > img{
    width: 100%;
    margin: 8%;
}

body > nav{
    background-color: #4e5f35;
}

.navigate a{
    padding: 1%;
    color: whitesmoke;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    margin-right: 2.5%;
    float: right;
}

.navigate .enlace:hover{
    background-color: whitesmoke;
    color: #4e5f35;
    text-decoration: none;
    border-radius: 5%;
}


/* #photo > img{
    max-width: 100%;
    opacity: .5;
    position: absolute;
    z-index: -2;
} */

header{
    width: 100%;
}

h1{
    text-align: center;
    margin: 2%;
}

.top-text{
    font-size: 5vw;
    color:whitesmoke;
    -webkit-text-stroke: .2vw whitesmoke;
    text-shadow: 1vw 1vw 1vw black;
}

h2{
    color: bisque;
    font-size: 4vw;
    -webkit-text-stroke: .15vw bisque;
    text-align: center;
    background-color: #4e5f35;
    text-shadow: 1vw 1vw 1vw black;
    padding: 1%;
    margin: 0;
}

#about > p{
    max-width: 90%;
    margin: 2.5%;
}

#nav-text{
    font-size: 2vw;
    color: whitesmoke;
    background-color: #4e5f35;
    text-align: center;
    padding: .5%;
    /* margin-bottom: 2.5%; */
}

.content{
    flex: 1 0 auto;
}

span{
    font-weight: bold;
    color: #4e5f35;
}

#verses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    grid-gap: 20px;
    background: #eee;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 2.5%;
}

#verses > div {
    min-height: 100px;
    background: white;
    display: grid;
    place-items: center;
}

#verses > div::after {
    content: attr(style);
    white-space: pre-wrap;
}

#carouselExampleIndicators{
    margin: auto;
    width: 60%;
}

#links{
    display: flex;
    justify-content: space-evenly;
    margin: 2.5%;
}
#links > a{
    color: #47484d;
    font-weight: bold;
}

#links > a:hover{
    color: #4e5f35;
    text-decoration: none;    
}

#to-cal{
    text-align: center;
}

footer{
    flex-shrink: 0;
    font-size: 2vw;
    color: whitesmoke;
    background-color: #4e5f35;
}

footer > p{
    text-align: center;
    margin: 0 auto;
}

footer a{
    color: whitesmoke;
    cursor: pointer;
    text-decoration: none;
}

footer a:hover{
    color: #47484d;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
body {
    font-size: 12px;
}

#verses{
    font-size: 10px;
}

#carouselExampleIndicators{
    width: 40%;
}

#verses{
    display: inline-block;
}

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

}